<% if(typeof errors != 'undefined') { %>
	<% errors.forEach(function(error) { %>
	<div class="ui negative message">
	  	<div class="header">
	    	There were some errors with your submission
	  	</div>
	    <p><%= error.msg %></p>
	</div>	
	<% }); %>
<% } %>

<% if(success_msg != ''){ %>
	<div class="ui positive message">
	  	<div class="header">
	    	<%= success_msg%>
	  	</div>
	</div>
<% } %>

<% if(error_msg != ''){ %>
	<div class="ui negative message">
	  	<div class="header">
	    	<%= error_msg %>
	  	</div>
	</div>	
<% } %>

<% if(error != ''){ %>
	<div class="ui negative message">
	  	<div class="header">
	    	<%= error %>
	  	</div>
	</div>
<% } %>